.button {
    background-color: #232323;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
};

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
};

.outer {
    text-align: center;
    border: 1px solid blue;
}